.joinSection{
    padding: 0 8rem;
    padding-top: 12rem;
    height: max-content;
    background-color: #030106;
    background-image: url('../assets/images/ellipse.png');
    background-repeat: no-repeat;
    // background-position-x:10rem ;
    background-position-x: center;
   
    // background: url('../assets/images/wave.png');
    color: white;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--buttons-container{
            display: flex;
            width: max-content;
            gap:2rem;

            .button1{
                padding: 1.5rem 4rem;
             outline: none;
             border: none;
                background: linear-gradient(90deg, #E85C99 0%, #A53DE2 110.61%, #FF3C5F 155.21%);
        box-shadow: 4px 2px 0px #F8F8F8;
        border-radius: 5px;
        color: white;
        width: max-content;
            }

            .button2{
                outline: none;
                border: none;
                background: transparent;
                color:white;
                border-radius:5px;
                border: 2px solid #A53DE2;
                padding: 1.5rem 4rem;
            }
        }
        

        &--text-container{
            width: 60rem;
            display: flex;
            flex-direction: column;
            gap:2rem;

            h1{
                font-size: 55px;
                font-weight: bold;
            }
        }


        &--image-container{
            position: relative;
            bottom: 0;
            // background-image: url('../assets/images/join.png');
        }
    }



}


@media screen and (max-width:485px) {
    .joinSection{
        // padding:10rem 30rem;
        padding:0;
        box-sizing: border-box;

        &__container{
            flex-direction: column-reverse;

            &--buttons-container{
flex-direction: column;
            }

            &--text-container{
                width: 25rem;

                h1{
                    font-size: 4rem;

                }

            }
        }
    }
}