%title-2 {
  font-size: 32px;
  line-height: 0.7;
  letter-spacing: calc(-0.015 * 32px);


  // @media screen and (min-width:1000px) {
  //   font-size: calc(150vw / 1368 * 10);
  // }
}


.main-header{
  font-family: 'polysans-bold';
  font-size: 6.75rem;
  font-weight: 700;
}
.main-subheader{
  font-family: 'polysans-bold';
  font-size: 3.75rem;
  font-weight: 700;
}

.section-header{
  font-family: 'polysans-bold';
  font-size: 5rem;
  font-weight: 700;
}

// .main-subheader{
//   font-family: 'polysans-md';
//   font-size: 2rem;
// }


.nav-regular{
  font-family: 'circular-regular';
  font-size: 1rem;
}

.md-text{
  font-family: 'roboto-light';
  font-size: 1.8rem;
  line-height:30px ;
}


.regular-text{
  font-family: 'roboto';
  font-size:1.5rem
}
.sm-text{
  font-family: 'circular-regular';
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 25px;
}

.regular-header{
  font-family: 'roboto-medium';
  font-size: 3rem;
}


//font family
//size::after

@media screen and (max-widtth:485px) {
  .main-header{
    font-size: 2.75rem;

  }
  .main-subheader{
    font-size: 1rem !important;
  }
  .md-text{
    font-size: 1.2rem !important;
  }
}


//---join



.joinSection{
  padding: 0 8rem;
  padding-top: 12rem;
  height: max-content;
  background-color: #030106;
  background-image: url('../assets/images/ellipse.png');
  background-repeat: no-repeat;
  // background-position-x:10rem ;
  background-position-x: center;
 
  // background: url('../assets/images/wave.png');
  color: white;

  &__container{
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--buttons-container{
          display: flex;
          width: max-content;
          gap:2rem;

          .button1{
              padding: 1.5rem 4rem;
           outline: none;
           border: none;
              background: linear-gradient(90deg, #E85C99 0%, #A53DE2 110.61%, #FF3C5F 155.21%);
      box-shadow: 4px 2px 0px #F8F8F8;
      border-radius: 5px;
      color: white;
      width: max-content;
          }

          .button2{
              outline: none;
              border: none;
              background: transparent;
              color:white;
              border-radius:5px;
              border: 2px solid #A53DE2;
              padding: 1.5rem 4rem;
          }
      }
      

      &--text-container{
          width: 60rem;
          display: flex;
          flex-direction: column;
          gap:2rem;

          h1{
              font-size: 55px;
              font-weight: bold;
          }
      }


      &--image-container{
          position: relative;
          bottom: 0;
          // background-image: url('../assets/images/join.png');
      }
  }



}


@media screen and (max-width:485px) {
  .joinSection{
      // padding:10rem 30rem;
      padding:0;
      box-sizing: border-box;

      &__container{
          flex-direction: column-reverse;

          &--buttons-container{
flex-direction: column;
          }

          &--text-container{
              width: 25rem;

              h1{
                  font-size: 4rem;

              }

          }
      }
  }
}