%title-2 {
  font-size: 32px;
  line-height: 0.7;
  letter-spacing: calc(-0.015 * 32px);


  @media screen and (min-width:1000px) {
    font-size: calc(150vw / 1368 * 10);
  }
}


.main-header{
  font-family: 'polysans-bold';
  font-size: 6.75rem;
  font-weight: 700;
}
.main-subheader{
  font-family: 'polysans-bold';
  font-size: 3.75rem;
  font-weight: 700;
}

.section-header{
  font-family: 'polysans-bold';
  font-size: 5rem;
  font-weight: 700;
}

// .main-subheader{
//   font-family: 'polysans-md';
//   font-size: 2rem;
// }


.nav-regular{
  font-family: 'circular-regular';
  font-size: 1rem;
}

.md-text{
  font-family: 'roboto-light';
  font-size: 1.8rem;
  line-height:30px ;
}


.regular-text{
  font-family: 'roboto';
  font-size:1.5rem
}
.sm-text{
  font-family: 'circular-regular';
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 25px;
}

.regular-header{
  font-family: 'roboto-medium';
  font-size: 3rem;
}


//font family
//size::after

@media screen and (max-widtth:485px) {
  .main-header{
    font-size: 2.75rem;

  }
  .main-subheader{
    font-size: 1rem !important;
  }
  .md-text{
    font-size: 1.2rem !important;
  }
}